.listing-page {
  @extend %layout;
  position: relative;
  padding: 5px;

  #aside {
    width: 25%;
    padding: 10px;
    border-top: 4px solid $p42-color;
    @extend .pull-left;
    overflow: hidden;
    box-shadow: 0 0 20px -9px rgba($black, 0.5);

    .fake-select {
      border: 1px solid $p42-color;
    }

    &.hideOnMobile {
      @include media('<desktop'){
        display: none;
      }  
    }

    @include media('<desktop'){
      width: 100%;
      overflow: hidden;
      display: block;
      margin: 0 0 20px;
    }
  }
  #content {
    width: 75%;
    @extend .pull-left;
    padding: 0 0 0 20px;

    @include media('<desktop'){
      width: 100%;
      overflow: hidden;
      display: block;
      margin: 0 0 20px;
      padding: 0;
    }
  }
  .filter-form {
    position: relative;
    @extend %layout;
  }
  .filters-links {
    @extend %listreset;
    @include font(14,17);

    li {
      display: block;

      &.active {
        a{
          &:after {content: "\e91a";}
        }
      }

      a {
        font-weight: 700;
        text-decoration: none;
        display: block;
        color: $dark-grey;
        cursor: pointer;
        position: relative;
        padding: 10px;
        transition: color 0.5s ease, background 0.5s ease;
        -webkit-transition: color 0.5s ease, background 0.5s ease;
        -moz-transition: color 0.5s ease, background 0.5s ease;
        -ms-transition: color 0.5s ease, background 0.5s ease;

        &:after {
          position: absolute;
          top: 50%;
          right: 10px;
          content: "\e91b";
          font-family: 'icomoon';
          @include font(20,20);
          margin: -14px 0 0;
          color: $p42-default-grey;
          transition: color 0.5s ease;
          -webkit-transition: color 0.5s ease;
          -moz-transition: color 0.5s ease;
          -ms-transition: color 0.5s ease;
        }
      }
      .slide {
        @extend %layout;
        background: $white;
        padding: 20px;
      }
    }
  }
  .filterChecks {
    @extend %listreset;

    li {
      display: block;
      padding: 0 0 10px;

      .select2-container {
        width: 100% !important;
        border: 1px solid $p42-color;
      }
    }
  }
  .fake-select {
    margin: 0 0 10px;
    color: rgba($dark-grey, 0.9);
  }
  .fromTo {
    @extend %layout;
    @include align-reset(top, 14, 17);
    position: relative;
    padding: 0 31px 0 0;

    &.full-width {
      width: 100%;
      display: block;
      padding: 0;

      .field-holder {
        width: 100%;
        display: block;
      }

      button {
        position: static;
        width: 100%;
        display: block;
      }
    }

    .field-holder {
      width: 50%;
      padding: 3px;
    }
    input[type="number"]{
      @include squar(100%, 26px);
      @include font(12,15);
      padding: 4px;
      font-family: $open-sans;
      display: block;
      border: 2px solid $p42-background;
      color: $dark-grey;

      @include placeholder{ color: $dark-grey;}
    }
    button{
      @include align(top);
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      @include font(12,15);
      color: $white;
      background: $orange;
      border: 0;
      padding: 5px;
      transition: background 0.5s ease;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -ms-transition: background 0.5s ease;

      &:hover { background: $green;}
    }
  }
  .publicProperty-post {
    @extend %layout;
    background: $white;
    padding: 5px 5px 0;
    margin: 0 0 20px;
    position: relative;

    @include media('<tablet'){
      padding: 5px 5px 0;
      margin: 0 0 10px;
    }
    @include media('<phone'){
      padding: 10px 5px 0;
    }

    .image-holder {
      @extend .pull-left;
      position: relative;
      @extend %clearfix;

      @include media('<phone'){
        display: none;
      }

      a{ display: block;}

      img {
        max-height: 208px;
        min-height: 208px;
        min-width: 208px;
        max-width: 208px;
        @extend img-res;

        @include media('<tablet'){
          max-height: 170px;
          max-width: 170px;
          min-height: 170px;
          min-width: 170px;
        }
      }
    }
    .caption {
      @extend %layout;
      font-family: $open-sans;
      @include font(13,16);
      color: $p42-default-grey;
      padding: 0 0 10px 10px;

      h1 {
        margin: 0 0 15px;
        font-weight: 700;
        color: $p42-color;
        @include font(18,21);
        @extend %text-left;

        @include media('<tablet'){
          @include font(16,19);
          margin: 0 0 2px;
        }

        a {
          @include align(top);
          color: $p42-color;
          text-decoration: none;

          &:hover { color: $green;}
        }
      }

      .left-area {
        @extend %pull-left;
        width: 70%;
        padding: 0 10px 0 0;

        @include media('<tablet'){
          padding: 0;
          float: none !important;
          width: 100%;
        }
        p {
          @include media('<tablet'){ display: none;}
        }
      }
      .right-area {
        @extend %pull-right;
        width: 30%;

        @include media('<tablet'){
          float: none !important;
          width: 100%;
          overflow: hidden;
        }
      }
      .links-holder {
        position: absolute;
        bottom: 0;
        left: 220px;
        right: 0;

        @include media('<tablet'){
          overflow: visible;
          clear: both;
          right: 10px;
          display: block;
          left: 180px;
        }
        @include  media('<phone'){
          position: static;
        }
      }
      .links-left {
        @extend %pull-left;
        width: 70%;
        padding: 35px 0 0;

        @include media('<tablet'){
          padding: 10px 0 0;
        }

        @include media('<widescreen'){
          width: 60%;
        }
      }
      .links-right {
        @extend %pull-right;
        width: 30%;

        @include media('<widescreen'){
          width: 40%;
        }
      }
      .btn-default {
        @include font(12,15);
        border-radius: 4px;
        position: relative;
        padding: 10px 37px 10px 15px;
        
        span[class^="icon-"],span[class*="icon-"]{
          @include font(20,20);
          top: 50%;
          right: 10px;
          margin: -10px 0 0;
          position: absolute;
        }
      }
      .trusted-agent {

        @include media('<tablet'){
          position: absolute;
          top: -40px;
          right: 5px;
          @include font(11,12);
          padding: 0 5px 0 17px;
          margin: 3px 0 0 10px;
        }
      }
      .company-logo {
        @extend img-res;
        @extend .pull-right;
        max-width: 76px;
        max-height: 76px;
        min-width: 76px;
        min-height: 76px;

        @include media('<tablet'){ display: none;}
      }
      .quick-links {
        @extend .pull-left;
        max-width: 115px;
        padding: 32px 0 0;
        
        @include media('<tablet'){
          padding: 10px 0 0;
          float: right !important;
        }
      }
    }
  }
}
.aside-opener-filters {
  display: block;
  color: $white;
  @include font(14,19);
  background: $orange;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin: 0 0 10px;
  font-weight: 600;

  b{
    font-weight: normal;
    font-weight: 400;
    @include font(13,17);
    padding: 0 3px;
    @include align(middle);
  }

  @include media('>=desktop'){ display: none;}

  .button {
    @include squar(30px, 20px);
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    margin: -10px 0 0;

    &:after, &:before, b{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: $white;
      height: 2px;
      content: '';
    }
    &:before {
      top: auto;
      bottom: 0;
    }
    b{
      top: 50%;
      margin: -1px 0 0;
    }
  }
}
.propertyNotFound {
  @extend %layout;
  @extend %text-center;
  position: relative;
  background: $p42-background;
  @include font(16, 21);
  font-weight: 600;
  padding: 80px 20px;

  @include media('<tablet'){
      @include font(13,16);
      padding: 65px 5px;
    }

  &:after {
    background: url('../images/caution-sign.png') no-repeat;
    @include squar(200px, 200px);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    margin: 0 0 0 -100px;
    opacity: 0.25;
  }

  .no-heading {
    @extend %text-capital;
    display: block;
    opacity: 0.5;
    font-weight: 700;
    @include font(30,33);
    padding: 0 0 10px;

    @include media('<tablet'){
      @include font(20,23);
    }
  }
  p { opacity: 0.5;}
}