$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1540px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'select2-min';
@import 'property-listing';
body{
  &.nav-active{
    height: 100vh;
    overflow: hidden;
  }
}
h1 {
  margin: 0 0 30px;
  width: 100%;

  @include media('<tablet'){
    margin: 0 0 15px;
    @include font(25,28);
  }
}
.btn-default{
  @include align(top);
  @include font(18,22);
  font-weight: 700;
  text-decoration: none;
  color: $white;
  background: $p42-color;
  padding: 10px 25px;
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;

  @include media('<tablet'){
    @include font(14,18);
    padding: 10px;
  }

  &:hover {
    background: lighten( $p42-color, 10%);
  }
}
.customCheckbox,
.customRadio {
  @include align(middle);

  input[type="checkbox"], input[type="radio"]{
    position: fixed;
    top: -999px;
    left: -999px;
    opacity: 0;
    z-index: -1;

    &:checked ~ {
      .fake-checkbox,
      .fake-radio {
        &:after{ bottom: 0;}
      }
    }
  }

  span {
    @include align(middle);
  }
  .fake-checkbox,
  .fake-radio {
    @include squar(22px, 22px);
    border: 3px solid $p42-color;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      background: $p42-color;
      content: '';
      transition: bottom 0.5s ease;
      -webkit-transition: bottom 0.5s ease;
      -moz-transition: bottom 0.5s ease;
      -ms-transition: bottom 0.5s ease;
    }
  }
  .fake-label {
    padding: 0 0 0 10px;
  }
}
.fake-select {
  width: 100%;
  @extend %layout;
  border: 1px solid $p42-color;
  display: block;
  position: relative;
  z-index: 1;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28px;
    background: $p42-color;
    content: '';
  }

  &:before {
    position: absolute;
    top: 50%;
    right: 10px;
    border: 4px solid transparent;
    border-top: 4px solid $black;
    content: '';
    z-index: 1;
    margin: -2px 0 0; 
  }

  select {
    width: 100%;
    background: $white;
    border: 0;
    padding: 0 10px;
    @include font(14, 28);
    height: 28px;
  }
}
.select2-container{

  .select2-selection--single { position: relative; }
}
.select2-container--default{
  .select2-selection--single{
    border-radius: 0;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: auto;
  width: 28px;
  bottom: 0;
  top: 0;
  right: 0;
  background: $p42-color;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{ border-color: $black transparent transparent;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{ border-color: transparent transparent $white;}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0 30px 0 9px;
  color: rgba($dark-grey, 0.9);
  @extend %text-capital;
}
.select2-container--default .select2-selection--single{  border: 0;}
h1 {
  display: block;
  @extend %text-center;
  color: $p42-default-grey;
  font-weight: 400;

  span{
    color: $p42-color;
    font-weight: 700;
  }
}
#wrapper {
  @extend %layout;
  position: relative;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  transition: position 0.5s ease, z-index 0.5s ease, background 0.5s ease;
  -webkit-transition: position 0.5s ease, z-index 0.5s ease, background 0.5s ease;
  -moz-transition: position 0.5s ease, z-index 0.5s ease, background 0.5s ease;

  @include media('<tablet'){
    position: fixed !important;
    z-index: 999 !important;
    background: $white !important;
    box-shadow: 0 0 20px -1px rgba($black, 0.5);
    min-width: 320px;
    
    .social-icons {
      @include media('<tablet'){
        display: none;
      }
    }
  }

  .byDefault-fixed &,
  &.fixed-position {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 999 !important;
    background: $white !important;
    box-shadow: 0 0 20px -1px rgba($black, 0.5);
    
    .top-bar {
      padding: 20px 12px 24px;

      @include media('<tvscreen'){
        padding: 15px 12px 20px;
      }
      @include media('<widescreen'){
        padding:9px 12px 17px;
      }
      @include media('<desktop'){
        padding:9px 12px;
      }
    }
    .right-sideTop {
      @include media('<desktop'){
        width: 30%;
      }
    }
    .social-icons {
      padding: 26px 0 0;

       @include media('<desktop'){
         padding: 10px 0 0;
      }
    }
  }

  .top-bar {
    position: relative;
    width: 100%;
    display: block;
    @extend %clearfix;
    padding: 20px 12px 0;
    transition: padding 0.5s ease;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -ms-transition: padding 0.5s ease;

    @include media('<tablet'){
      padding: 10px 5px 3px;
    }
  }
  .social-icons {
    float: left;
    padding: 10px 0 0;
  }
  .right-sideTop {
    float: right;
    @include font(14,17);
    width: 25%;

    @include media('<tvscreen'){
      width: 30%;
    }
    @include media('<widescreen'){
      width: 33%;
    }
    @include media('<desktop'){
      width: 50%;
    }
    @include media('<tablet'){
      width: 35%;
    }

    .mail {
      @include align(top);
      color: $p42-default-grey;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      margin: 0 20px 10px 0;

      @include media('<tablet'){
        display: none;
      }

      &:hover {
        color: $p42-color;
      }
    }
  }
}
.logo {
  width: 100%;
  max-width: 477px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  @extend %layout;
  transition: position 0.5s ease, top 0.5s ease,  max-width 0.54s ease;
  -webkit-transition: position 0.5s ease, top 0.5s ease,  max-width 0.54s ease;
  -moz-transition: position 0.5s ease, top 0.5s ease,  max-width 0.54s ease;
  -ms-transition: position 0.5s ease, top 0.5s ease,  max-width 0.54s ease;

  @include media('<tvscreen'){
    max-width: 400px;
  }
  @include media('<widescreen'){
    max-width: 325px;
  }
  @include media('<desktop'){
    top: 0;
    position: static;
    margin: 20px auto 0;
  }
  
  @include media('<tablet'){
    max-width: 130px;
    position: fixed;
    top: 9px;
    left: 0;
    right: 60px;
    margin: 0 auto;
  }

  .byDefault-fixed &,
  .fixed-position & {
    max-width: 300px;
    position: fixed;
    top: 9px;
    left: 0;
    right: 0;

    @include media('<tvscreen'){
      max-width: 280px;
    }
    @include media('<widescreen'){
      max-width: 250px;
    }
    @include media('<widescreen'){
      max-width: 250px;
      top: 11px;
      margin: 0 auto;
    }
    @include media('<tablet'){
      max-width: 130px;
      position: fixed;
      top: 9px;
      left: 0;
      right: 60px;
      margin: 0 auto;
    }
  }

  img{ @extend %img-res;}
  a{ display: block;}
}
.social-icons {
  @extend %listreset;
  @include align-reset(top, 33,33);
  margin: 0 -10px;

  @include media('<tvscreen'){
    @include align-reset(top, 28,28);
  }
  @include media('<widescreen'){
    @include align-reset(top, 20,20);
  }
  @include media('<desktop'){
    margin: 0 -5px;
    @include align-reset(top, 25,25);
  }

  li {
    padding: 0 10px;
    margin: 0 0 10px;

    @include media('<desktop'){
      padding: 0 5px;
    }

    a{
      text-decoration: none;
      display: block;
      font-weight: bold;
      color: $p42-color;
    }
  }
}
.loginRegister {
  @extend %listreset;
  @include align-reset(top,14,17);
  font-weight: 700;
  display: block;
  width: 100%;
  margin: 0 -3px;

  @include media('<tvscreen'){
    @include align-reset(top,12,15);
    font-weight: 600;
  }

  li {
    width: 50%;
    padding: 0 3px;
    margin: 0 0 5px;
    @extend %text-center;

    &:first-child {
      a{
        background: $p42-default-grey;

        .hidden{
          @include media('<tablet'){
            display: inline-block !important;
            vertical-align: top;
          }
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 10px 25px 10px 5px;
      color: $white;
      background: $p42-color;
      border-radius: 3px;
      position: relative;
      transition: background 0.5s ease;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -ms-transition: background 0.5s ease;

      @include media('<tvscreen'){
        padding: 10px 20px 10px 5px;
      }

      @include media('<tablet'){
        padding:5px;
        min-height: 40px;
      }

      span[class^="icon-"],span[class*="icon-"]{
        position: absolute;
        top: 50%;
        right: 5px;
        font-size: 14px;
        line-height: 1;
        margin: -7px 0 0;

        @include media('<tablet'){
          position: static;
          @include font(25,30);
          margin: 0;
        }
      }
      &:hover {
        background: $orange;
      }
    }
  }
}
.main-bg-holder {
  @extend %layout;
  background: url('../images/bg.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 991;
  padding: 230px 0 113px;

  @include media('<desktop'){
    background-size: 100% 100%;
  }
  @include media('<tablet'){
    padding: 80px 0 0;
    z-index: auto;
  }

  &.byDefault-fixed {
    padding: 110px 0 0;
    margin: 0 0 50px;

    @include media('<widescreen'){
      padding: 95px 0 0;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    right: 0;
    bottom: 0;
    background: rgba($white, 0.80);
    content: '';
    pointer-events: none;
  }
}
.main-visualSection {
  @extend %layout;
  @extend %text-center;
  padding: 0 50px;

  @include media('<tablet'){
    padding: 0;

    .container { padding: 0 8px;}
  }

  .main-heading {
    display: block;
    @include font(46,49);
    font-family: $open-sans;
    font-weight: 300;
    padding: 0 0 20px;

    .blue {
      color: $p42-color;
      font-weight: 800;
    }
    .black {
      color: $black;
      font-weight: 800;
    }
  }
  p {
    max-width: 525px;
    margin: 0 auto 10px;
    @include font(14,20);
    font-weight: 300;
  }
  .number-of-properties {
    @extend %listreset;
    max-width: 450px;
    margin: 0 auto;
    @include align-reset(top, 16, 20);
    font-family: $open-sans;

    li {
      width: 50%;
      margin: 0 0 25px;

      span, strong { display: block;}

      .numberOfProperty {
        color: $p42-color;
        font-weight: 800;
        @include font(40, 43);
        padding: 0 0 10px;
      }
    }
  }
}
#main {
  @extend %layout;
  position: relative;
  z-index: 9;
}
.mainSearch-form {
  max-width: 675px;
  margin: 0 auto 30px;
  @extend %clearfix;

  @include media('<tablet'){
    margin: 0 auto 15px;
  }

  .typeOfBuying {
    @extend %listreset;
    color: $p42-color;
    @include align-reset(top,16,19);

    li {
      font-weight: 700;
      width: 50%;

      label, span {
        display: block;
        cursor: pointer;
      }
      
      input[type="radio"]{
        position: fixed;
        top: -999px;
        left: -999px;
        opacity: 0;
        visibility: hidden;

        &:checked ~{
          .fake-label{
            color: $white;
            &:after{
              top: 0;
            }
          }    
        }
      }
      .fake-label{
        border: 2px solid $p42-color;
        color: $p42-color;
        padding: 5px;
        position: relative;
        z-index: 1;
        background: rgba($p42-background, 0.8);

        &:after {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          background: $p42-color;
          content: '';
          z-index: -1;
          transition: top 0.5s ease;
          -webkit-transition: top 0.5s ease;
          -moz-transition: top 0.5s ease;
          -ms-transition: top 0.5s ease;
        }
      }
    }
  }
  .form-holder {
    background: rgba($p42-background, 0.8);
    @extend %layout;
    box-shadow:0 10px 20px -15px rgba($black, 0.5);
    padding: 20px;

    @include media('<tablet'){
      padding: 7px;
    }
  }
  .subTypes{
    @extend %listreset;
    @include align-reset(top, 14, 18);
    @extend %text-capital;

    @include media('<tablet'){
      text-align: left;
    }

    li {
      width: 25%;
      font-weight: bold;
      color: $dark-grey;
      margin: 0 0 20px;

      @include media('<tablet'){
        width: 50%;
        margin: 0 0 10px;
      }
    }
  }
  .inputsHolder {
    @extend %listreset;
    @extend %text-left;
    @include align-reset(top, 14, 18);
    font-weight: bold;
    color: $dark-grey;
    margin: 0 -12px;

    @include media('<tablet'){
      margin: 0 auto;
      max-width: 300px;
    }

    li {
      padding: 0 12px;
      width: 35%;

      @include media('<tablet'){
        width: 100%;
        display: block;
        padding: 0 0 10px;
      }

      &:first-child{
        width: 65%;
         @include align-reset(top, 14, 18);
         margin: 7px 0 0;

         @include media('<tablet'){
          width: 100%;
          display: block;
        }
      }

      .label {
        width: 35%;
        
        @include media('<tablet'){ display: none;}
      }
      .input-holder {
        @extend %layout;
        width: 65%;


        @include media('<tablet'){
          width: 100%;
          display: block;
          text-align: center;
        }

        .select2-container {
          width: 262px !important;

          @include media('<desktop'){
            width: 245px !important;
          } 
          @include media('<desktop'){
            margin: 0 auto !important;
          }  
        }
      }
    }
  }
  button[type="submit"]{
    border: 0;
    background: $p42-color;
    color: $white;
    display: block;
    width: 100%;
    padding: 10px;
    @include font(18, 22);
    @extend %text-upparcase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;

    @include media('<tablet'){
      @include font(16, 18);
      padding: 5px;
      width: 245px;
      margin: 0 auto;
    }

    &:hover {
      background: $green;
    }

    span[class^="icon-"], span[class*="icon-"]{
      margin: 0 11px;
      @include align(middle);
    }
  }
}
#nav{
  width: 100%;
  display: block;
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  @extend %text-left;
  @extend %container;

  @include media('<desktop'){ padding: 0;}
  
  @include media('<tablet'){
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 100vh !important;
    width: 100% !important;
    overflow: auto !important;
    z-index: 9999 !important;
    background: rgba($p42-default-grey, 0.90);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transition: transform 0.5s ease;

    .nav-active & {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
    }
  }

  .close {
    color: $orange;
    text-decoration: none;
    float: right;

    @include media('>=tablet'){ display: none;}
    
    &:hover {
      color: lighten($orange, 10%);
    }

    span[class^="icon-"], span[class*="icon-"]{
      font-size: 50px;
      line-height: 1;
    }
  }
  
  .mobile-content {
    color: $white;
    padding: 20px 0;

    &.hidden{ @include media('<tablet'){ display: block !important;} }
    .social-icons {
      li {
        @include align-reset(top, 20,20);

        a {
          color: $white;
          border: 2px solid $white;
          border-radius: 100%;
          padding: 8px;
        }
      }
    }
    .copyright {
      color: $white;

      a {
        color:$white;
        &:hover { color: $orange;}
      }
    }
  }

  .nav-holder {
    display: block;
    position: relative;
    width: 100%;

    @include media('<tablet'){
      overflow: hidden;
    }
  }

  .byDefault-fixed &,
  &.fixed-position {
    position: fixed !important;
    bottom: 0 !important;
    top:  auto !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 999 !important;

    .main-navigation {

      li {
        vertical-align: bottom;
        
        a{
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
          padding: 10px;
          transition: padding 0.5s ease;
          -webkit-transition: padding 0.5s ease;
          -moz-transition: padding 0.5s ease;

          span[class^="icon-"],span[class*="icon-"]{
            height: 0;
            @extend %layout;
            padding: 0;
            transition: height 0.5s ease, padding 0.5s ease;
            -webkit-transition: height 0.5s ease, padding 0.5s ease;
            -moz-transition: height 0.5s ease, padding 0.5s ease;
          }

          &:hover {
            padding: 25px 10px;

            span[class^="icon-"],span[class*="icon-"]{
              height: 42px;
              padding: 0 0 10px;
            }
          }
        }
      }
    }  
  }

  .main-navigation {
    @extend %listreset;
    @include align-reset(top, 16,20);

    @include media('<tablet'){
      width: 100%;
      display: block;
      overflow: hidden;
    }

    li{
      font-weight: 700;
      width: 16.66%;
      @extend %text-center;
      border-left: 1px solid #b6b6b6;

      @include media('<tablet'){
        width: 100%;
        border: 0;
        display: block;
        background: none;
        padding: 0 20px;
        @include font(14,17);
      }

      &:first-child{ border: 0;}

      &.active {
        a{
          background: rgb(255,255,255);
          background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 61%, rgba(251,251,251,1) 75%, rgba(236,236,236,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 61%,rgba(251,251,251,1) 75%,rgba(236,236,236,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 61%,rgba(251,251,251,1) 75%,rgba(236,236,236,1) 100%);

          @include media('<tablet'){
            background: none;
            color: $orange;
          }

          &:after {
            left: 0;
            right: 0;
            
            @include media('<tablet'){
              left: 15%;
              right: 15%;
              background: $orange;
            }
          }
          &:before { opacity: 1;}
        }
      }

      a {
        color: $p42-color;
        display: block;
        padding: 25px 10px;
        text-decoration: none;
        background: rgb(235,235,235);
        background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(235,235,235,1) 67%, rgba(232,232,232,1) 77%, rgba(229,229,229,1) 77%, rgba(230,230,230,1) 81%, rgba(228,228,228,1) 85%, rgba(218,218,218,1) 100%);
        background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(235,235,235,1) 67%,rgba(232,232,232,1) 77%,rgba(229,229,229,1) 77%,rgba(230,230,230,1) 81%,rgba(228,228,228,1) 85%,rgba(218,218,218,1) 100%);
        background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(235,235,235,1) 67%,rgba(232,232,232,1) 77%,rgba(229,229,229,1) 77%,rgba(230,230,230,1) 81%,rgba(228,228,228,1) 85%,rgba(218,218,218,1) 100%);
        transition: background 0.5s ease;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
        position: relative;

        @include media('<tablet'){
          background: none;
          box-shadow: none;
          color: $white;
          padding: 10px 0;
        }

        &:after {
          position: absolute;
          top: 0;
          left: 50%;
          right: 50%;
          height: 5px;
          background: $p42-color;
          content: '';
          transition: left 0.5s ease, right 0.5s ease;
          -webkit-transition: left 0.5s ease, right 0.5s ease;
          -moz-transition: left 0.5s ease, right 0.5s ease;
          -ms-transition: left 0.5s ease, right 0.5s ease;
          
          @include media('<tablet'){
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: $white;
          }
        }
        &:before {
          position: absolute;
          top: -16px;
          left: 50%;
          border: 8px solid transparent;
          border-bottom: 9px solid $p42-color;
          content: '';
          opacity: 0;
          transition: opacity 0.5s ease;
          -webkit-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          -moz-transition: opacity 0.5s ease;

          @include media('<tablet'){ display: none;}
        }

        span{ display: block;}

        span[class^="icon-"],span[class*="icon-"]{
          font-size: 32px;
          line-height: 1;
          padding: 0 0 10px;

          @include media('<tablet'){
            font-size: 20px;
            padding: 0 0 5px;
          }
        }

        &:hover {
          background: rgb(255,255,255);
          background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 61%, rgba(251,251,251,1) 75%, rgba(236,236,236,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 61%,rgba(251,251,251,1) 75%,rgba(236,236,236,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 61%,rgba(251,251,251,1) 75%,rgba(236,236,236,1) 100%);

          @include media('<tablet'){
            background: none;
            color: $orange;
          }

          &:after {
            left: 0;
            right: 0;

            @include media('<tablet'){
              left: 15%;
              right: 15%;
              background: $orange;
            }
          }
          &:before { opacity: 1;}
        }
      }
    }
  }
}
.generic-section {
  padding: 50px 0;
  @extend %layout;
  
  @include media('<tablet'){
    padding: 20px 0 0;
  }
}
.news-sliderHolder  {
  @extend %layout;
  padding: 20px 0 0;

  @include media('<tablet'){ padding: 0;}
}
.news-slideshow {
  @extend %layout;

  .mask {
    position: relative;
    @extend %layout;
    height: 1%;
  }
  .slideset{
    @extend %layout;
    width: 100%;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $darken-grey;
    @include font(19, 37);
    z-index: -1 !important;

    @include media('<tablet'){
      @include font(16,25);
    }

    .caption {
      width: 50%;
      @extend %pull-left;
      padding: 0 20px 0 0;

      @include media('<desktop'){
        width: 100%;
        float: none !important;
        padding: 0;
      }
    }

    &.active {
      z-index: 5 !important;
    }
  }
}
.news-carousel {
  position: relative;
  @extend %layout;
  @extend %pull-right;
  width: 50%;

  @include media('<desktop'){
    width: 100%;
    float: none !important;
    max-width: 480px;
    margin: 0 auto;
  }

  .news-mask {
    @extend %layout;
    position: relative;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;

    @include media('<widescreen'){
      max-width: 360px;
    }
  }
  .news-slideset{
    float: left;
    width: 99999px;
  }
  .news-slide{
	  float: left;
    width: 100%;
    
    img {
      @extend %img-res;
      max-width: 460px;
      max-height: 340px;
      min-width: 460px;
      min-height: 340px;

      @include media('<widescreen'){
        max-width: 400px;
        max-height: 300px;
        min-width: 400px;
        min-height: 300px;
      }
    }
  }
  .news-pagination {
    padding: 28px 0 0;
    ul{
      @extend %listreset;
      @include align-reset(top, 12, 12);
      @extend %text-center;

      li {
        padding: 0 5px;
        margin: 0 0 10px;

        &.active {
          a{
            background: $p42-color;
          }
        }
      }
      a {
        display: block;
        @include squar(14px, 14px);
        background: $dim-grey;
        @extend %layout;
        text-indent: -99999px;
        border-radius: 100%;
        text-decoration: none;

        &:hover {
          background: $p42-color;
        }
      }
    }
  }
  .news-btn-prev, .news-btn-next {
    text-decoration: none;
    color: $dim-grey;
    position: absolute;
    bottom: 50px;
    left: 0;

    @include media('<tablet'){ display: none;}

    &:hover{
      color: $p42-color;
    }

    span[class^="icon-"],span[class*="icon-"]{
      &:before{
        font-size: 42px;
        line-height: 1;
      }
    }
  }
  .news-btn-next {
    left: auto;
    right: 0;
  }
}
.topSocities-holder {
  padding: 0 30px;
  @extend %layout;

  @include media('<tablet'){
    padding: 0 5px;
  }

  .socities {
    @extend %listreset;
    @include align-reset(top, 18, 21);

    li {
      width: 25%;
      padding: 0 5px 10px;
      overflow: hidden;

      @include media('<desktop'){
        width: 33.33%;
      }
      
      @include media('<tablet'){
        width: 50%;
        padding: 0 2px 4px;
      }


      &.double-width {
        width: 50%;

        @include media('<desktop'){
          width: 33.33%;
        }
         @include media('<tablet'){
          width: 50%;
        }
      }

      a{
        display: block;
        background: $white;
        height: 300px;
        white-space: nowrap;
        @extend %text-center;
        position: relative;
        overflow: hidden;

        @include media('<desktop'){
          height: 255px;
        }

        @include media('<tablet'){
          height: 150px;
        }
        
        &:hover {
          .caption{
            opacity: 1;
            z-index: 9;
            visibility: visible;
          }

          img {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
          }
        }

        &:after {
          content: '';
          @include align(middle);
          width: 1px;
          margin: 0 0 0 -5px;
          height: 300px;
          @extend %layout;

          @include media('<desktop'){
            height: 255px;
          }
          @include media('<tablet'){
            height: 150px;
          }
        }
        img {
          @include align(middle);
          white-space: normal;
          margin: 0 0 0 -5px;
          max-width: 240px;
          transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transition: transform 0.5s ease;
          -webkit-transition: transform 0.5s ease;
          -moz-transition: transform 0.5s ease;
          -ms-transition: transform 0.5s ease;

          @include media('<widescreen'){
            max-width: 200px;
          }
          @include media('<desktop'){
            max-width: 150px;
          }
          @include media('<tablet'){
            max-width: 100px;
          }
        }
      }
      .caption{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($p42-color, 0.8);
        content: '';
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        padding: 65px 10px;
        color: $white;
        transition: opacity 0.6s ease,visibility 0.6s ease,z-index 0.6s ease;
        -webkit-transition: opacity 0.6s ease,visibility 0.6s ease,z-index 0.6s ease;
        -moz-transition: opacity 0.6s ease,visibility 0.6s ease,z-index 0.6s ease;
        -ms-transition: opacity 0.6s ease,visibility 0.6s ease,z-index 0.6s ease;

        @include media('<desktop'){ display: none;}

        @include media('<tablet'){
          padding: 5px;
        }

        .heading {
          display: block;
          @extend %text-center;
          @include font(50,55);
          font-weight: 500;
          margin: 0 0 20px;

          @include media('<tvscreen'){
            @include font(40,45);
          }
          @include media('<widescreen'){
            @include font(30,35);
          }
          @include media('<tablet'){
            @include font(20,22);
            margin: 0 0 10px;
          }
        }
        .numberOfproperties {
          @extend %listreset;
          @extend %text-left;
          max-width: 270px;
          margin: 0 auto;

          li {
            display: block;
            @include align-reset(top, 18,22);
            width:  100%;
            padding: 0 0 10px;
            
            @include media('<widescreen'){
               @include align-reset(top, 16,20);
            }
            @include media('<widescreen'){
               @include align-reset(top, 14,18);
               padding: 0 0 5px;
            }

            span {
              font-weight: 700;
              width: 50%;

              &:last-child{
                @extend %text-right;
              }
            }
          }
        }
      }
    }
  }
}
.agents {
  background: $white;
  @extend %layout;

  .left-side {
    @extend %pull-left;
    width: 40%;
    padding: 0 10px;
    height: 450px;
    white-space: nowrap;

    @include media('<desktop'){
      float: none !important;
      height: auto;
      width: 100%;
    }

    &:after {
      @include align(middle);
      overflow: hidden;
      width: 1px;
      margin: 0 0 0 -5px;
      height: 450px;
      content: '';

      @include media('<desktop'){
        @extend .hidden;
      }
    }

    h1 {
      @include align(middle);
      white-space: normal;
    }
  }
}
.agent-slider {
  position: relative;
  @extend %layout;
  @extend %pull-right;
  width: 60%;
  padding: 0 10px;
  
  @include media('<desktop'){
    width: 100%;
    float: none !important;
  }

  .mask {
    @extend %layout;
    position: relative;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    @include media('<tvscreen'){
      max-width: 600px;
    }
    @include media('<widescreen'){
      max-width: 500px;
    }
    @include media('<desktop'){
      max-width: 600px;
    }
  }
  .slideset{
    float: left;
    width: 99999px;
    position: relative;
  }
  .slide{
	  float: left;
  }
  .btn-prev, .btn-next {
    text-decoration: none;
    color: $dim-grey;
    position: absolute;
    bottom: 40px;
    left: 0;

    @include media('<desktop'){
      left: 10px;
    }
    @include media('<tablet'){
      display: none;
    }

    &:hover{
      color: $p42-color;
    }

    span[class^="icon-"],span[class*="icon-"]{
      &:before{
        font-size: 42px;
        line-height: 1;
      }
    }
  }
  .btn-next {
    left: auto;
    right: 10px;
  }
}
.agents-logo {
  @extend %listreset;
  @include align-reset(top, 18,22);
  position: relative;

  &:hover {
    li {
      a{
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
          opacity: 1;
          filter: grayscale(0);
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
        }
      }
    }
  }

  li{
    width: 25%;

    @include media('<desktop'){
      width: 33.33%;
    }

    a{
      display: block;
      background: $white;
      height: 150px;
      white-space: nowrap;
      @extend %text-center;
      opacity: 1;
      filter: grayscale(0);
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transition: opacity 0.6s ease, filter 0.6s ease, transform 0.6s ease;
      -webkit-transition: opacity 0.6s ease, filter 0.6s ease, transform 0.6s ease;
      -ms-transition: opacity 0.6s ease, filter 0.6s ease, transform 0.6s ease;
      -moz-transition: opacity 0.6s ease, filter 0.6s ease, transform 0.6s ease;

      @include media('<desktop'){
        height: 100px;
      }

      &:after {
        content: '';
        @include align(middle);
        width: 1px;
        margin: 0 0 0 -5px;
        height: 150px;
        @extend %layout;

        @include media('<desktop'){
          height: 100px;
        }
      }
      img {
        @include align(middle);
        white-space: normal;
        margin: 0 0 0 -5px;
        max-width: 160px;

        @include media('<tvscreen'){
          max-width: 130px;
        }
        @include media('<widescreen'){
          max-width: 100px;
        }
        @include media('<tablet'){
          max-width: 70px;
        }
      }
    }
  }
}
.about-us {
  @include font(18,30);
  padding: 150px 0;

  @include media('<tablet'){
    padding: 20px 0;
    @include font(13,19);
  }
}
.questions {
  background: $white;
  @include font(18,30);

  @include media('<tablet'){
    @include font(13,19);
  }
}
.submit-query {
  @extend %layout;

  @include media('<tablet'){
    margin: 0 0 20px;
  }

  .layout{
    @include align-reset(top, 18, 21);
  }

  .input-holder{
    width: 33.33%;
    padding: 0 10px 20px;
    
    @include media('<tablet'){
      width: 100%;
      display: block;
      padding: 0 0 5px;
    }

    &.full-width {
      @extend %full-width;
    }
  }
  textarea,
  input[type="text"],input[type="email"],input[type="password"]{
    @include squar(100%, 60px);
    display: block;
    margin: 0;
    padding: 17px 20px;
    border: 1px solid #838383;
    color: #838383;
    @include font(18,21);
    font-family: $open-sans;
    transition: border-color 0.5s ease;
    -webkit-transition: border-color 0.5s ease;
    -moz-transition: border-color 0.5s ease;
    -ms-transition: border-color 0.5s ease;

    &:focus{
      border-color: $p42-color;
      
      @include placeholder {
        color: $black;
      }
    }

    @include placeholder {
      color: #838383;
      transition: color 0.5s ease;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
    }
    
  }
  textarea{
    height: 200px;
    resize: none;
  }
 button[type="submit"]{
   display: block;
   width: 350px;
   @extend %text-upparcase;
   @include font(18,21);
   font-weight: 700;
   border: 0;
   padding: 0;
   margin: 0 auto;
   background: transparent;

   @include media('<tablet'){
     width: 100%;
   }

   span {
     display: block;
     position: relative;
     background: $p42-color;
     color: $white;
     z-index: 1;
     padding: 18px 10px;
     overflow: hidden;
     transition: background 0.5s ease;
     -webkit-transition: background 0.5s ease;
     -moz-transition: background 0.5s ease;
   }
   &:hover{
     span{
      background: $green;
     }
   }
 } 
}
#footer {
  background: $p42-background;
  @extend %layout;
  padding: 7px 20px;

  .copyright{
    @extend %text-right;

    @include media('<tablet'){ text-align: center;}
  }
}
.copyright{
  display: block;
  color: #838487;
  @include font(19, 28);
  font-weight: 400;

  a{
    color: #838487;
    text-decoration: none;
    &:hover { color: $p42-color;}
  }
}

.price {
  display: block;
  color: $p42-default-grey;
  font-family: $open-sans;
  @include font(25,28);
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0 0 10px;

  @include media('<widescreen'){
    @include font(22,25);
  }

  span {
    font-weight: 400;
  }
}
.nav-opener {
  @include squar(33px, 30px);
  display: block;
  position: absolute;
  top: 50%;
  left: 7px;
  margin: -16px 0 0;
  background: darken($p42-default-grey, 10%);
  border-radius: 4px;

  @include media('>=tablet'){ display: none;}

  span,
  &:after, &:before {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    height: 2px;
    background: $white;
    content: '';
  }
  &:before{
    top: auto;
    bottom: 25%;
  }
  span {
    top: 50%;
    right: 40%;
    margin: -2px 0 0;
  }
}
.resize-active * {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}